.header-class {
    text-align: center;
}
.row-style {
    border: 1px solid black;
}
.time-col {
    border-right: 1px solid black;
}
.save-col {
    border-left: 1px solid black;
}
.mid-textarea {
    width: 100%;
    height: 100%;
}

.col-lg-10,
.col-save {
    padding-left: 0px;
    padding-right: 0px;
}
.btn-save {
    width: 100%;
    height: 100%;
}
.text-future {
    background-color: lightgreen;
}
.text-past {
    background-color: grey;
}
.text-current {
    background-color: lightblue;
}
